{% extends 'UnsapaIPWBundle::layout.html.twig' %}
 
{% block title %}Panneau d'administration{% endblock %}

{% block content %}
	<div id="admin">
		• <a href="{{ path("promos") }}" alt="Administrer les promotions">
			Administrer les promotions
		</a>
	</div>
{% endblock %}