@charset "utf-8";

/**
 * application.css
 *
 * @author Léo / Lucas
 * @version 2012/04/25
 */


/* Général */

#user_nav
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 98%;
  top: 0%;
  left: 0%;
  height: 35px;
  text-indent: 4%;
  padding-top: 1%;
  background-color: rgb(254,196,89); //#E4DDC5;
  font-size: 20px;
}

body
{
	background-color: ;
	margin: 0%;
}

nav
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;

  margin-top: 8px;
  margin-left: 1%;
  padding-top: 15px;
  padding-bottom: 1%;
  height: 100%;
  width: 110px;
  background-color: rgb(255,227,180); //#E4DDC5;
  text-align: center;
  float: left;
}

nav a img
{
  margin-bottom: 35%;
}

h1
{
	text-indent: 20px;
}

h2
{
	text-indent: 40px;
}

#content
{
  position: absolute;
  top: 60px;
  margin-left:120px;
  padding-left:30px;
}

.fos_user_content
{
  position: absolute;
  top: 60px;
  left: 100px;
  padding-left: 30px;
}

#user_nav a
{
  color: black;
  font-weight: bold;
  font-family: serif;
}

/* Bouton déconnexion */

.end_of_line
{
  padding-right: 4%;
  text-align:right;
  float:right;
}


/* Formulaires de login et d'enregistrement utilisateur */

#login_form
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  
  background-color: rgb(255,223,157); //#eeeebb;
  padding: 18px;
  margin: 25px;
  line-height: 28px;
}

#login_form label
{
  float:left;
  width: 130px;
  padding-right: 20px;
  text-align: right;
}

#login_form input[type="submit"]
{
	margin-top: 5px;
	font-size: 18px;
	margin-left: 190px;
}

#user_registration label
{
  float:left;
  width:125px;
  padding-right: 20px;
  text-align: right;
}

.required_header
{
  display:block;
  margin-bottom: 10px;
  font-weight:bolder;
  color: #440000;
  font-size:20px;

}

.fos_user_registration_register
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  
  margin: 25px;
  padding-bottom: 15px;
  border: 1px inset black;
}

.fos_user_registration_register input[type="submit"]
{
	margin-top: 8px;
	font-size: 18px;
	margin-left: 210px;
}

#user_registration_required
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: rgb(255,223,157); //#eeeebb;
  padding: 15px;
}

#user_registration_fields
{
  padding: 15px 15px 15px 15px;
}


/* Formulaire de proposition de rendu */

#record_submit_form
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: rgb(255,223,157); //#eeeebb;
  padding: 18px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-left: 5px;
}

#record_submit_form label
{
  float:left;
  width:100px;
}

#record_submit_form input[type="submit"]
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 18px;
	margin-left: 450px;
}


/* Formulaire d'ajout d'examen */

#exam_add_form
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: rgb(255,223,157); //#eeeebb;
  padding: 18px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-left: 5px;
}

#exam_add_form label
{
  float: left;
  width: 100px;
  text-align: right;
  margin-right: 20px;
}

#exam_add_form input[type="submit"]
{
	margin-top: 8px;
	font-size: 18px;
	margin-left: 220px;
}

#promo_detail:hover
{
	cursor: pointer;
}

/* Autres formulaires */

#form ul
{
  margin-left: 130px;
}

.required
{
  font-weight: bold;
}

[required]
{
  border: 2px dotted orange;
}

#form li 
{
  color: red;
}


/* Mon profil */

#profil
{
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  
  width: 130%;
  background-color: #FCCA88;
  margin-top: 25px;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  text-indent: 8%;
}

#profil input[value="Éditer le profil"]
{
	margin-top: 20px;
	margin-bottom: 5px;
}

.profil_label
{
	font-weight: bold;
	float: left;
	width: 40%;
	text-align: right;
}


/* Editer le profil */

.fos_user_profile_edit
{
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  
  width: 130%;
  background-color: #FCCA88;
  margin-top: 25px;
  margin-left: 10px;
  padding: 15px;
  text-indent: 8%;
}

.fos_user_profile_edit label
{
	font-weight: bold;
	float: left;
	width: 30%;
	text-align: right;
}

.fos_user_profile_edit input[type="submit"]
{
	margin-top: 15px;
	margin-bottom: 5px;
}


/* Changer le mot de passe */

.fos_user_change_password
{
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  
  width: 400px;
  background-color: #FCCA88;
  margin-top: 25px;
  margin-left: 10px;
  padding: 15px;
  text-indent: 8%;
}

.fos_user_change_password label
{
	float: left;
	width: 190px;
	text-align: right;
}

.fos_user_change_password input[type="submit"]
{
	margin-top: 12px;
	margin-left: 180px;
}


/* Admin */

#admin
{
	margin-top: 25px;
	margin-left: 10px;
	padding-top: 30px;
	padding-left: 30px;
	font-weight: bold;
	font-size: 18px;
}

#promos_list_admin
{
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  
  background-color: #FCCA88;
  padding: 20px;
  margin-top: 25px;
  margin-left: 10px;
  font-size: 18px; 
}

.float_img_plus
{
  float: left;
  margin-left: 10px;
}

/* Détails promo */

#promo_detail
{
  margin-left:60px;
  font-weight: bold;
  text-decoration: underline;
}


/* Page Exams */

.link_img_text
{
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  font-weight: bold;
  text-align:center;
  font-family: serif;
  font-size:20px;
}

.float_img
{
  float: left;
  margin-right: 25px;
  margin-left: 10px;
}


/* Bouton Proposer un rendu ou ajouter un examen */

.submit_head
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 350px;
  background-color: #FCCA88; //#E4CAC5;
  padding-top: 5px;
  padding-bottom: 25px;
}


/* Avertissement: l'élève a déjà proposé un rendu */

.warn
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: rgb(255,234,210); //#ffdbdb;
  margin: 10px 10px 10px 10px;
  padding: 5px 10px 5px 10px;
  display:block;
  font-weight:bold;
  color: red;
  text-align:center;
}

.warn img
{
  position: relative;
  top: 20px;
  padding-right: 10px;
}

.warn a
{
  color: black;
}


/* ---------- */ 

#mark_student_form a
{
  color: black;
}

#mark_student_form a:hover
{
  font-weight: bold;
}

#mark_student_form .download_image
{
  margin: 10px 5px 5px 10px;
  width: 30px;
  position: relative;
  top: 10px;
  text-decoration:none;
}

