@charset "utf-8";

/**
 * application.css
 *
 * @author Léo
 * @version 2012/04/25
 */

nav
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;

  left: 0px;
  top: 0px;
  padding-top: 70px;
  padding-bottom: 50px;
  height: 100%;
  width: 110px;
  background-color: #E4DDC5;
  text-align: center;
  float: left;
}

#content
{
  position: absolute;
  top: 60px;
  margin-left:120px;
  padding-left:30px;
}

.fos_user_content
{
  position: absolute;
  top: 60px;
  left: 100px;
  padding-left: 30px;
}

.submit_head
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 300px;
  background-color: #E4CAC5;
  padding-top: 5px;
  padding-bottom: 25px;
}

#form label
{
  float:left;
  width:120px;
}

#form ul
{
  margin-left: 130px;
}

#form .required
{
  font-weight: 900;
}

#form li 
{
  color: red;
}

#user_nav
{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
  width:100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  background-image: url('../../bundles/unsapaipw/images/user_nav.png');
  font-size:25px;
  box-shadow: 15px 10px 15px #888;
}

#user_nav a
{
  color: black;
  font-weight: bold;
  font-family: serif;
}

.link_img_text
{
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  font-weight: bold;
  text-align:center;
  font-family: serif;
  font-size:20px;
}

.link_my_exams
{
  color: black;
  text-align:center;
  font-family: serif;
  font-size:18px;
}

.float_img
{
  float: left;
  margin-right: 20px;
}

.end_of_line
{
  padding-right: 100px;
  text-align:right;
  float:right;
}

.warn
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #ffdbdb;
  margin: 10px 10px 10px 10px;
  padding: 0px 10px 15px 10px;
  display:block;
  font-weight:bold;
  color: red;
}

.warn a
{
  color: black;
}
