@charset "utf-8";

/**
 * application.css
 *
 * @author Léo
 * @version 2012/04/25
 */

nav
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;

  top: 0px;
  left: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
  width: 100px;
  background-color: #E4DDC5;
  text-align: center;
  float: left;
}

#content
{
  top: 0px;
  margin-left:100px;
  padding-left:30px;
}

.submit_head
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 400px;
  background-color: #E4CAC5;
}

#form label
{
  float:left;
  width:120px;
}

#form ul
{
  margin-left: 130px;
}

#form .required
{
  font-weight: 900;
}

#form li 
{
  color: red;
}
