{% extends "UnsapaIPWBundle::layout.html.twig" %}

{% block content %}
  <h1>Bienvenue sur UnsapaIPW !</h1>



  <ul>
    <li><a alt="Rapport" href="../../report">Rapport du projet</a></li>
    <li><a alt="PhpDoc" href="../../doc">Documentation développeur (PHPDocumentor)</a></li>
    <li><a alt="Tests" href="../../cov">Couverture des tests (PHPUnit)</a></li>
  </ul>
{% endblock %}
