<form id="login" action="{{ path("fos_user_security_check") }}" method="post">
    <div id="login_fields">
    	<div id="login_username">
        	<label for="username">Username</label>
        	<input type="text" id="username" name="_username" value="{{ last_username }}" />
    	</div>
    	<div id="login_password">
        	<label for="password">Password</label>
        	<input type="password" id="password" name="_password" />
    	</div>
    </div>
    <input type="hidden" name="_target_path" value="/" />
    <input type="submit" class="symfony-button-grey" value="LOGIN" />
</form>
