{% extends "UnsapaIPWBundle::layout.html.twig" %}

{% block title %}Statistiques{% endblock %}

{% block content %}
<h1>Statistiques</h1>

<h2>Moyennes par promo</h2>
<ul>
  <li>  </li>
</ul>
{% endblock %}
