{% extends "UnsapaIPWBundle::layout.html.twig" %}

{% block content %}
<h1>Ajout d'un examen</h1>
<form id="add_exam_form" method="post" action="{{ path("exam_add") }}">
  <fieldset>
    <label for="title">Titre : </label>
    <input id="title" type="text" placeholder="Titre" /> <br>
    <label for="promo">Promotion : </label>
    <select id="promo" name="promo">
      {% for promo in promos %}
      <option value="{{ promo.name }}">{{ promo.name }}</option>
      {% endfor %}
    </select><br>
    <label for="add_form_date">Échéance : </label>
    <input type="text" name="date" placeholder="Date" id="add_form_date"/><br>
    <label for="desc">Description : </label>
    <textarea name="desc" id="desc" placeholder="Description de l'évènement"></textarea><br>
    <label for="coef">Coefficient : </label>
    <input id="coef" name="coef" type="number" \><br>
    <input class="submit_button" type="submit" value="Valider" \>
  </fieldset>
</form>
{% endblock %}

{% block footer_js %}
<script type="text/javascript" src="{{ asset('bundles/unsapaipw/js/add_exam.js') }}"></script>
{% endblock %}
