{% extends "UnsapaIPWBundle::layout.html.twig" %}

{% block title %}Ajout d'un examen{% endblock %}

{% block content %}
<p>Vous êtes inscrit à :</p>
<div id="exams">
  <ul>
  {% for record in records %}
    <li>
      {{ record.exam }} (Note : {{ record.mark }} )
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
