{% extends "UnsapaIPWBundle::layout.html.twig" %}

{% block title %}Mes examens{% endblock %}

{% block content %}
<p>Les examens dont vous êtes responsable :</p>
<div id="exams">
  <ul>
  {% for exam in exams %}
    <li>
    {{ exam.title }} ( {{ exam.getExamDate().format('Y-m-d H:i:s') }} )
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
