{% extends "UnsapaIPWBundle::layout.html.twig" %}

{% block content %}
<p>Vous êtes inscrit à :</p>
<div id="exams">
  <ul>
  {% for exam in exams %}
    <li>
      {{ exam.exam }} (Note : {{ exam.mark }} )
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
